In [7]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from utilities import plot_confusion_matrix,plot_roc_auc,plot_classification_report
from utilities import grid_search_simple,graph_result,get_classes
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import json

In [8]:
full_df = pd.read_csv("..\..\data\indeed.pre_processing.csv")

In [9]:
for col in full_df.columns:
    print(col)

Unnamed: 0.1
_id
adresse
date_de_publication
description
localisation
nom_entreprise
salaire
titre
type_de_contrat
url
Lyon
niveau_etude
type_de_cursus
type_contrat_description
grande_categorie
type_contrat_titre
Nantes
Paris
Toulouse
salaire_moyen
salaire_min
salaire_max
bac + 1
bac + 2
bac + 3
bac + 4
bac + 5
bac + 8
diplôme supérieur
ingénieur
master 1
master 2
autodidacte
ecole ingénieur
grande école
ingénieur informatique
école de commerce
école ingénieur
Apprentissage
Autre
CDD
CDI
Contrat pro
Freelance
Indépendant
Intérim
Stage
Temps partiel
Temps plein
alternance_titre
cdd_titre
cdi_titre
freelance_titre
stage_titre
3 mois renouvelable_desc
3mois renouvelable_desc
alternance_desc
cdd_desc
cdi_desc
freelance_desc
stage_desc
back-end
développeu web
développeur data
développeur mobile
développeur web
front-end
abcl
ada
afnix
agora
alf
algol
apl
applescript
asp.net
autoit
awk
back end
bash
basic
beanshell
beta
bliss
c
c#
c\+\+
cecil
charity
chuck
cilk
clean
cleo
clist
cobol
cobra
coldfusion
component pascal
concurrent pascal
css
curl
curry
d
dasl
dibol
e
eiffel
erlang
excel
f#
f-script
forth
fortran
fril
frink
front end
game maker language
haskell
html
hypertalk
ici
io
j
jass
java
javascript
joule
jovial
joy
kite
kotlin
lava
leda
limbo
linux
lisaac
lisp
lua
m
matlab
maya embedded language
ml
modula-2
mondrian
moo
moto
nemerle
nosql
oberon
object-z
objective-c
obliq
occam
opal
ops5
oxygene
oz
pascal
pcastl
perl
php
pict
pl/c
pl/i
pliant
poplog
postscript
powershell
prograph
prolog
python
q
r
rapira
rebol
revolution
rexx
roop
rpg
ruby
s-lang
salsa
sas
scala
self
sgml
shell
slate
small
smalltalk
soap
spin
sql
sr
swift
tcl
turing
vb.net
vba
vbscript
visual basic
visual foxpro
windows powershell
xhtml
xl
xml
xotcl
airbrake
amazon web services
angular
api rest
apimetrics
app dynamics
asana
atlas
aws
awsvisual studio
azure
bamboo
basecamp
beanstalk
beats
bitbucket
blazemeter
browsersync
buddy
checkmarx
circleci
cloud foundry
codeship
cucumber
datadog
db2
django
docker
dokku
drone.io
dynatrace
elasticsearch
engine yard
filemaker
firebird
fitnesse
flask
flynn
galen framework
gatling
gauntlt
git
gitbucket
github
gitlab
gocd
gogs
google analytics
google cloud platform
grafana
graphite
greenplum
grok
heroku
hive
hololens
informix
ingres
jasmine
jenkins
jira
jira software
jmeter
jquery
junit
kallithea
kanban
karma
katalon studio
keen io
kibana
laravel
liquibase
load impact
logstash
mariadb
mercurial
microsoft access
microsoft azure sql database
microsoft sql server
mingle
mocha
mongodb
moogsoft
morpheus
mysql
nagios
netezza
new relic
node js
nunit
openshift
openstack
opsgenie
oracle
owasp zap
pa11y
pagerduty
phabricator
pinpoint
pivotal tracker
postgresql
powerbi
prometheus
pytest
qunit
rackspace
raygun
react
react native
riemann
rollbar
rspec
runscope
sap adaptative server
sap hana
scrum
selenium
semaphore
sensu
sentry
serverspec
soapui
specflow
splunk
sql server
sqlite
subversion
symfony
tableau
teamcity
teradata
testng
threatmodeler
travis ci
trello
vector
versionone
vertica
visual studio
vizceral
wercker
zabbix
zipkin
centre

In [10]:
df = full_df.copy()
cols_to_drop = ["Unnamed: 0.1","adresse","date_de_publication","description","localisation","nom_entreprise","salaire",
        "titre","type_de_contrat","url","niveau_etude","type_de_cursus","type_contrat_description","grande_categorie", "type_contrat_titre"
               ,'salaire_min','salaire_max','3 mois renouvelable_desc','3mois renouvelable_desc']
df.drop(cols_to_drop, axis=1, inplace=True)

In [11]:
y = df['salaire_moyen'][pd.notnull(df['salaire_moyen'])]
X = df.drop(columns = ['salaire_moyen',"_id"])
X = X[pd.notnull(df['salaire_moyen'])]

In [12]:
y_class, dic_classe_labels,dic_min_max_mean = get_classes(y)

In [13]:
svm = SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovo', degree=3, gamma='scale', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y_class, test_size=0.25, random_state=0)

In [15]:
svm.fit(X_train,y_train)

SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovo', degree=3, gamma='scale', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [16]:
y_pred_reglog = svm.predict(X_test)

In [17]:
accuracy_score(y_test, y_pred_reglog)

0.706199460916442

In [18]:
df_predicted = df.drop(columns = ['salaire_moyen'])
df_predicted.reset_index(inplace=True, drop=True)
X_df_predicted = df_predicted.drop(columns = ['_id'])
X_df_predicted.reset_index(inplace=True, drop=True)

In [20]:
#%%time
y_pred_w_s = svm.predict(X_df_predicted)

In [21]:
salaire_moyen = []
salaire_min = []
salaire_max = []
for i in y_pred_w_s:
    salaire_min.append(dic_min_max_mean[i][0])
    salaire_moyen.append(dic_min_max_mean[i][1])
    salaire_max.append(dic_min_max_mean[i][2])

In [22]:
df_predicted['salaire_moyen'] = pd.DataFrame(salaire_moyen)
df_predicted['salaire_min'] = pd.DataFrame(salaire_min)
df_predicted['salaire_max'] = pd.DataFrame(salaire_max)

In [23]:
cols =["adresse","type_de_contrat","niveau_etude", "localisation","type_de_cursus"]
df_predicted[cols] = full_df[pd.isna(full_df["salaire_moyen"])][cols]

In [24]:
cols.append("salaire_moyen")
cols.append("salaire_min")
cols.append("salaire_max")
#df_predicted = df_predicted[cols]
df_predicted

,_id,Lyon,Nantes,Paris,Toulouse,bac + 1,bac + 2,bac + 3,bac + 4,bac + 5,...,zipkin,centre,salaire_moyen,salaire_min,salaire_max,adresse,type_de_contrat,niveau_etude,localisation,type_de_cursus
0,5da04bf5559bce5541bcce8f,0,0,0,1,0,0,0,0,0,...,0,1,36000.0,2600,46000,Toulouse (31),NaN,ingénieur,Toulouse,NaN
1,5da04bf5559bce5541bcce90,0,0,0,1,0,0,0,0,0,...,0,1,36000.0,2600,46000,Toulouse (31),CDI,NaN,Toulouse,NaN
2,5da04bf5559bce5541bcce91,0,0,0,1,0,0,0,0,0,...,0,0,36000.0,2600,46000,Labège (31),CDI,ingénieur,Toulouse,NaN
3,5da04bf5559bce5541bcce92,0,0,0,1,0,0,0,0,0,...,0,1,66500.0,4600,87000,Toulouse (31),CDI,ingénieur,Toulouse,autodidacte
4,5da04bf5559bce5541bcce93,0,0,0,1,0,0,0,0,0,...,0,1,36000.0,2600,46000,NaN,NaN,NaN,NaN,NaN
5,5da04bf5559bce5541bcce94,0,0,0,1,0,0,0,0,0,...,0,1,36000.0,2600,46000,Toulouse (31),NaN,ingénieur,Toulouse,NaN
6,5da04bf5559bce5541bcce95,0,0,0,1,0,0,0,0,0,...,0,1,36000.0,2600,46000,Toulouse (31),NaN,ingénieur,Toulouse,NaN
7,5da04bf5559bce5541bcce96,0,0,0,1,0,0,0,0,0,...,0,1,36000.0,2600,46000,Toulouse (31),NaN,ingénieur,Toulouse,NaN
8,5da04bf5559bce5541bcce97,0,0,1,0,0,0,0,0,0,...,0,0,13000.0,0,26000,NaN,NaN,NaN,NaN,NaN
9,5da04bf5559bce5541bcce98,0,0,1,0,0,0,0,0,0,...,0,1,66500.0,4600,87000,Paris (75),NaN,NaN,Paris,NaN
10,5da04bf5559bce5541bcce99,0,0,1,0,0,0,0,0,0,...,0,0,66500.0,4600,87000,Colombes (92),"Temps plein, CDI",NaN,Paris,NaN
11,5da04bf5559bce5541bcce9a,0,0,1,0,0,0,0,0,0,...,0,1,36000.0,2600,46000,Paris (75),NaN,NaN,Paris,NaN
12,5da04bf5559bce5541bcce9b,0,0,1,0,0,1,0,0,0,...,0,1,36000.0,2600,46000,Paris (75),NaN,bac + 2,Paris,NaN
13,5da04bf5559bce5541bcce9c,0,0,1,0,0,0,0,0,1,...,0,1,66500.0,4600,87000,Paris (75),NaN,bac + 5,Paris,NaN
14,5da04bf5559bce5541bcce9d,0,0,1,0,0,0,0,0,0,...,0,0,36000.0,2600,46000,Nozay (91),NaN,ingénieur,Paris,NaN
15,5da04bf5559bce5541bcce9e,0,0,1,0,0,0,0,0,0,...,0,1,66500.0,4600,87000,Paris (75),CDI,NaN,Paris,NaN
16,5da04bf5559bce5541bcce9f,0,0,1,0,0,0,0,0,0,...,0,0,66500.0,4600,87000,Levallois-Perret (92),"Temps plein, CDI",NaN,Paris,NaN
17,5da04bf5559bce5541bccea0,0,0,1,0,0,0,0,0,0,...,0,1,66500.0,4600,87000,Paris (75),CDI,NaN,Paris,NaN
18,5da04bf5559bce5541bccea1,0,0,1,0,0,0,0,0,0,...,0,1,13000.0,0,26000,Paris (75),Stage,ingénieur,Paris,NaN
19,5da04bf5559bce5541bccea2,0,0,1,0,0,0,0,0,0,...,0,1,66500.0,4600,87000,NaN,NaN,NaN,NaN,NaN
20,5da04bf5559bce5541bccea3,0,0,1,0,0,0,0,0,0,...,0,1,36000.0,2600,46000,NaN,NaN,NaN,NaN,NaN
21,5da04bf5559bce5541bccea4,0,0,1,0,0,0,0,0,0,...,0,1,66500.0,4600,87000,Paris (75),NaN,ingénieur,Paris,NaN
22,5da04bf5559bce5541bccea5,0,0,1,0,0,0,0,1,0,...,0,0,66500.0,4600,87000,Clichy (92),NaN,bac + 4,Paris,NaN
23,5da04bf5559bce5541bccea6,0,0,1,0,0,0,0,0,0,...,0,1,66500.0,4600,87000,NaN,NaN,NaN,NaN,NaN
24,5da04bf5559bce5541bccea7,0,1,0,0,0,0,0,0,0,...,0,1,36000.0,2600,46000,NaN,NaN,NaN,NaN,NaN
25,5da04bf5559bce5541bccea8,0,1,0,0,0,0,0,1,0,...,0,0,66500.0,4600,87000,NaN,NaN,NaN,NaN,NaN
26,5da04bf5559bce5541bccea9,0,1,0,0,0,0,0,0,0,...,0,1,36000.0,2600,46000,NaN,NaN,NaN,NaN,NaN
27,5da04bf5559bce5541bcceaa,0,1,0,0,0,0,0,0,0,...,0,1,36000.0,2600,46000,Nantes (44),CDI,NaN,Nantes,NaN
28,5da04bf5559bce5541bcceab,0,1,0,0,0,1,0,0,0,...,0,1,36000.0,2600,46000,Nantes (44),NaN,bac + 2,Nantes,NaN
29,5da04bf5559bce5541bcceac,0,1,0,0,0,0,0,0,0,...,0,1,36000.0,2600,46000,Nantes (44),CDI,NaN,Nantes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7985,5dad76d18798f0c2b8c42d45,1,0,0,0,0,0,0,0,0,...,0,1,36000.0,2600,46000,NaN,NaN,NaN,NaN,NaN
7986,5dad76fc8798f0c2b8c42d70,0,1,0,0,0,0,0,0,0,...,0,0,36000.0,2600,46000,Saint-Herblain (44),NaN,NaN,Nantes,NaN
7987,5dad77008798f0c2b8c42d73,0,1,0,0,0,1,0,0,0,...,0,1,36000.0,2600,46000,NaN,NaN,NaN,NaN,NaN
7988,5dad77018798f0c2b8c42d74,0,1,0,0,0,1,0,0,0,...,0,1,36000.0,2600,46000,NaN,NaN,NaN,NaN,NaN
7989,5dad777e8798f0c2b8c42df0,0,0,1,0,0,0,0,0,0,...,0,1,36000.0,2600,46000,Paris 19e (75),CDI,NaN,Paris,NaN
7990,5dad77c08798f0c2b8c42e30,0,0,1,0,0,0,0,0,0,...,0,1,36000.0,2600,46000,75011 Paris 11e,"Temps plein, CDI",NaN,Paris,NaN
7991,5dad77cb8798f0c2b8c42e3c,0,0,1,0,0,0,0,0,0,...,0,0,36000.0,2600,46000,Boulogne-Billancourt (92),CDI,NaN,Paris,NaN
7992,5dad78018798f0c2b8c42e73,0,0,1,0,0,0,0,0,0,...,0,0,36000.0,2600,46000,NaN,NaN,NaN,NaN,NaN
7993,5dad78188798f0c2b8c42e8b,0,0,1,0,0,0,0,0,0,...,0,0,36000.0,2600,46000,78420 Carrières-sur-Seine,"Temps plein, CDI",NaN,Paris,NaN
7994,5dad79208798f0c2b8c42f79,0,0,1,0,0,0,0,0,0,...,0,0,13000.0,0,26000,Le Plessis-Robinson (92),"Stage, Apprentissage, Contrat pro",ingénieur,Paris,NaN
7995,5dad79218798f0c2b8c42f7a,0,0,1,0,0,0,0,0,0,...,0,0,13000.0,0,26000,92000 Nanterre,Stage,NaN,Paris,NaN
7996,5dad792b8798f0c2b8c42f84,0,0,1,0,0,0,0,0,1,...,0,1,13000.0,0,26000,Paris (75),Stage,bac + 5,Paris,NaN
7997,5dad79308798f0c2b8c42f88,0,0,1,0,0,0,0,0,0,...,0,0,66500.0,4600,87000,Clichy (92),CDI,ingénieur,Paris,NaN
7998,5dad79328798f0c2b8c42f8a,0,0,1,0,0,0,1,0,0,...,0,1,36000.0,2600,46000,Paris (75),NaN,bac + 3,Paris,NaN
7999,5dad79478798f0c2b8c42f99,1,0,0,0,0,1,0,0,0,...,0,0,36000.0,2600,46000,Oullins (69),CDI,bac + 2,Lyon,NaN
8000,5dad79488798f0c2b8c42f9a,1,0,0,0,0,0,0,0,0,...,0,1,66500.0,4600,87000,Lyon 9e (69),CDI,NaN,Lyon,NaN
8001,5dad796e8798f0c2b8c42fbd,0,0,0,1,0,0,0,0,0,...,0,1,36000.0,2600,46000,31000 Toulouse,CDD,ingénieur,Toulouse,NaN
8002,5dad796f8798f0c2b8c42fbe,0,0,0,1,0,0,0,0,0,...,0,1,36000.0,2600,46000,Toulouse (31),CDI,ingénieur,Toulouse,NaN
8003,5dad79808798f0c2b8c42fcf,0,0,0,1,0,0,0,0,0,...,0,1,36000.0,2600,46000,Toulouse (31),CDI,NaN,Toulouse,NaN
8004,5dad79938798f0c2b8c42fda,0,1,0,0,0,0,0,0,1,...,0,1,36000.0,2600,46000,Nantes (44),NaN,bac + 5,Nantes,NaN
8005,5dad79948798f0c2b8c42fdb,0,1,0,0,0,0,0,1,0,...,0,1,36000.0,2600,46000,Nantes (44),CDI,bac + 4,Nantes,NaN
8006,5dad79c38798f0c2b8c43006,0,0,1,0,0,0,0,0,0,...,0,1,36000.0,2600,46000,Paris (75),"Temps plein, Freelance / Indépendant",NaN,Paris,NaN
8007,5dad7ab28798f0c2b8c430f5,1,0,0,0,0,0,0,0,0,...,0,1,13000.0,0,26000,NaN,NaN,NaN,NaN,NaN
8008,5dad7b428798f0c2b8c4317a,0,0,1,0,0,0,0,0,1,...,0,1,66500.0,4600,87000,75015 Paris 15e,CDI,bac + 5,Paris,NaN
8009,5dad7c628798f0c2b8c4329d,0,0,1,0,0,0,0,0,1,...,0,1,66500.0,4600,87000,Paris (75),CDI,bac + 5,Paris,NaN
8010,5dad7c638798f0c2b8c4329e,0,0,1,0,0,0,0,0,1,...,0,1,13000.0,0,26000,Paris (75),Stage,bac + 5,Paris,NaN
8011,5dad7cc28798f0c2b8c432ff,1,0,0,0,0,0,0,0,0,...,0,1,36000.0,2600,46000,NaN,NaN,NaN,NaN,NaN
8012,5dad7d028798f0c2b8c4333a,1,0,0,0,0,1,0,0,0,...,0,1,36000.0,2600,46000,Lyon (69),"Temps plein, CDI",bac + 2,Lyon,NaN
8013,5dad7d038798f0c2b8c4333b,1,0,0,0,0,0,0,0,0,...,0,1,36000.0,2600,46000,NaN,NaN,NaN,NaN,NaN
8014,5dad7d048798f0c2b8c4333c,1,0,0,0,0,0,0,0,1,...,0,1,13000.0,0,26000,Lyon (69),Stage,bac + 5,Lyon,NaN

In [25]:
df_predicted.to_csv("..\..\data\indeed.predicted.csv")

In [3]:
xx =['tableau', 'powerbi','symfony', 'jquery','angular','react','react native','node js','git','github','AWS'
            'visual studio','django','flask','api rest','laravel', 'hololens', 'docker', 'jira', 'scrum', 'kanban', 
               'azure','aws', 'teamcity', 'jenkins',"oracle", "mysql","Microsoft SQL Server", "PostgreSQL","DB2","Microsoft Access",
                "SQLite","Teradata", "SAP Adaptative Server", "Hive", "FileMaker"
             ,"SAP HANA", "MariaDB", "Informix", "Firebird", "microsoft azure sql database", "Vertica", "Netezza", "Ingres", "Greenplum", "mongodb","Liquibase",
                "Buddy", "Semaphore", "GoCD", "Drone.io", "TeamCity", "Wercker", "Codeship", "Travis CI", "CircleCI", "Bamboo","Jenkins",
                "VersionOne", "Phabricator", "Asana", "Pivotal Tracker", "Basecamp", "Visual Studio", "Trello", "Jira Software", "Mingle",
                "Kallithea", "Beanstalk", "GitBucket", "Mercurial", "Gogs", "GitLab", "Bitbucket", "GitHub", "Subversion", "Git",
                "SoapUI", "Katalon Studio", "ThreatModeler", "Checkmarx", "RSpec", "SpecFlow", "Pa11y", "Browsersync",
                "Serverspec", "pytest", "BlazeMeter", "Load Impact", "Galen Framework",
                "TestNG", "QUnit", "NUnit", "FitNesse", "Karma", "Gatling", "OWASP ZAP", "Gauntlt", "Mocha", "Jmeter",
                "Cucumber", "JUnit", "Jasmine", "Selenium","Nagios","Keen IO","Opsgenie","Beats","Moogsoft","PagerDuty","Rollbar","Raygun",
                "Graphite","Grafana","APImetrics","Riemann","Atlas","Runscope","Dynatrace","Sensu","Pinpoint","Prometheus"
                ,"Vizceral","Sentry","Google Analytics","Grok","Zipkin","Zabbix","Datadog","Kibana","Elasticsearch","Logstash","Airbrake","New Relic","App Dynamics","Vector","Splunk",
                "Morpheus", "Dokku", "Engine Yard", "OpenShift", "Cloud Foundry", "Flynn", "Azure", "OpenStack",
                "Rackspace", "Google Cloud Platform", "Heroku", "Amazon Web Services","sql server"
                ]

In [4]:
import numpy as np
xx = [i.lower() for i in xx]
xx = np.unique(xx)
xx

array(['airbrake', 'amazon web services', 'angular', 'api rest',
       'apimetrics', 'app dynamics', 'asana', 'atlas', 'aws',
       'awsvisual studio', 'azure', 'bamboo', 'basecamp', 'beanstalk',
       'beats', 'bitbucket', 'blazemeter', 'browsersync', 'buddy',
       'checkmarx', 'circleci', 'cloud foundry', 'codeship', 'cucumber',
       'datadog', 'db2', 'django', 'docker', 'dokku', 'drone.io',
       'dynatrace', 'elasticsearch', 'engine yard', 'filemaker',
       'firebird', 'fitnesse', 'flask', 'flynn', 'galen framework',
       'gatling', 'gauntlt', 'git', 'gitbucket', 'github', 'gitlab',
       'gocd', 'gogs', 'google analytics', 'google cloud platform',
       'grafana', 'graphite', 'greenplum', 'grok', 'heroku', 'hive',
       'hololens', 'informix', 'ingres', 'jasmine', 'jenkins', 'jira',
       'jira software', 'jmeter', 'jquery', 'junit', 'kallithea',
       'kanban', 'karma', 'katalon studio', 'keen io', 'kibana',
       'laravel', 'liquibase', 'load impact', 'logstash', 'mariadb',
       'mercurial', 'microsoft access', 'microsoft azure sql database',
       'microsoft sql server', 'mingle', 'mocha', 'mongodb', 'moogsoft',
       'morpheus', 'mysql', 'nagios', 'netezza', 'new relic', 'node js',
       'nunit', 'openshift', 'openstack', 'opsgenie', 'oracle',
       'owasp zap', 'pa11y', 'pagerduty', 'phabricator', 'pinpoint',
       'pivotal tracker', 'postgresql', 'powerbi', 'prometheus', 'pytest',
       'qunit', 'rackspace', 'raygun', 'react', 'react native', 'riemann',
       'rollbar', 'rspec', 'runscope', 'sap adaptative server',
       'sap hana', 'scrum', 'selenium', 'semaphore', 'sensu', 'sentry',
       'serverspec', 'soapui', 'specflow', 'splunk', 'sql server',
       'sqlite', 'subversion', 'symfony', 'tableau', 'teamcity',
       'teradata', 'testng', 'threatmodeler', 'travis ci', 'trello',
       'vector', 'versionone', 'vertica', 'visual studio', 'vizceral',
       'wercker', 'zabbix', 'zipkin'], dtype='<U28')

In [6]:
import pandas as pd
tt = pd.read_csv("..\..\data\indeed.pre_processing.csv")
tt.columns

Index(['Unnamed: 0.1', '_id', 'adresse', 'date_de_publication', 'description',
       'localisation', 'nom_entreprise', 'salaire', 'titre', 'type_de_contrat',
       ...
       'trello', 'vector', 'versionone', 'vertica', 'visual studio',
       'vizceral', 'wercker', 'zabbix', 'zipkin', 'centre'],
      dtype='object', length=353)