In [109]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from utilities import plot_confusion_matrix,plot_roc_auc,plot_classification_report
from utilities import grid_search_simple,graph_result,get_classes
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import json

In [110]:
full_df = pd.read_csv("..\..\data\indeed.pre_processing.csv")

In [111]:
for col in full_df.columns:
    print(col)

Unnamed: 0.1
_id
adresse
date_de_publication
description
localisation
nom_entreprise
salaire
titre
type_de_contrat
url
Lyon
niveau_etude
type_de_cursus
type_contrat_description
grande_categorie
type_contrat_titre
Nantes
Paris
Toulouse
salaire_moyen
salaire_min
salaire_max
bac + 1
bac + 2
bac + 3
bac + 4
bac + 5
bac + 8
diplôme supérieur
ingénieur
master 1
master 2
autodidacte
ecole ingénieur
grande école
ingénieur informatique
école de commerce
école ingénieur
Apprentissage
Autre
CDD
CDI
Contrat pro
Freelance
Indépendant
Intérim
Stage
Temps partiel
Temps plein
alternance_titre
cdd_titre
cdi_titre
freelance_titre
stage_titre
3 mois renouvelable_desc
3mois renouvelable_desc
alternance_desc
cdd_desc
cdi_desc
freelance_desc
stage_desc
back-end
développeu web
développeur data
développeur mobile
développeur web
front-end
abcl
ada
afnix
agora
alf
algol
apl
applescript
asp.net
autoit
awk
back end
bash
basic
beanshell
beta
bliss
c
c#
c\+\+
cecil
charity
chuck
cilk
clean
cleo
clist
cobol
cobra
coldfusion
component pascal
concurrent pascal
css
curl
curry
d
dasl
dibol
e
eiffel
erlang
excel
f#
f-script
forth
fortran
fril
frink
front end
game maker language
haskell
html
hypertalk
ici
io
j
jass
java
javascript
joule
jovial
joy
kite
kotlin
lava
leda
limbo
linux
lisaac
lisp
lua
m
mariadb
matlab
maya embedded language
ml
modula-2
mondrian
mongodb
moo
moto
mysql
nemerle
nosql
oberon
object-z
objective-c
obliq
occam
opal
ops5
oxygene
oz
pascal
pcastl
perl
php
pict
pl/c
pl/i
pliant
poplog
postscript
powershell
prograph
prolog
python
q
r
rapira
rebol
revolution
rexx
roop
rpg
ruby
s-lang
salsa
sas
scala
self
sgml
shell
slate
small
smalltalk
soap
spin
sql
sr
swift
tcl
turing
vb.net
vba
vbscript
visual basic
visual foxpro
windows powershell
xhtml
xl
xml
xotcl
tableau
powerbi
symfony
jquery
angular
react
react native
node js
git
github
visual studio
django
flask
api rest
laravel
hololens
docker
jira
scrum
kanban
azure
aws
teamcity
jenkins
centre

In [112]:
df = full_df.copy()
cols_to_drop = ["Unnamed: 0.1","adresse","date_de_publication","description","localisation","nom_entreprise","salaire",
        "titre","type_de_contrat","url","niveau_etude","type_de_cursus","type_contrat_description","grande_categorie", "type_contrat_titre"
               ,'salaire_min','salaire_max','3 mois renouvelable_desc','3mois renouvelable_desc']
df.drop(cols_to_drop, axis=1, inplace=True)

In [113]:
y = df['salaire_moyen'][pd.notnull(df['salaire_moyen'])]
X = df.drop(columns = ['salaire_moyen',"_id"])
X = X[pd.notnull(df['salaire_moyen'])]

In [114]:
y_class, dic_classe_labels,dic_min_max_mean = get_classes(y)

In [115]:
svm = SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovo', degree=3, gamma='scale', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [116]:
X_train, X_test, y_train, y_test = train_test_split(X, y_class, test_size=0.25, random_state=0)

In [117]:
svm.fit(X_train,y_train)

SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovo', degree=3, gamma='scale', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [118]:
y_pred_reglog = svm.predict(X_test)

In [119]:
accuracy_score(y_test, y_pred_reglog)

0.8261758691206544

In [120]:
df_predicted = df.drop(columns = ['salaire_moyen'])
df_predicted.reset_index(inplace=True, drop=True)
X_df_predicted = df_predicted.drop(columns = ['_id'])
X_df_predicted.reset_index(inplace=True, drop=True)

In [121]:
#%%time
y_pred_w_s = svm.predict(X_without_s)

In [122]:
salaire_moyen = []
salaire_min = []
salaire_max = []
for i in y_pred_w_s:
    salaire_min.append(dic_min_max_mean[i][0])
    salaire_moyen.append(dic_min_max_mean[i][1])
    salaire_max.append(dic_min_max_mean[i][2])

In [123]:
df_predicted['salaire_moyen'] = pd.DataFrame(salaire_moyen)
df_predicted['salaire_min'] = pd.DataFrame(salaire_min)
df_predicted['salaire_max'] = pd.DataFrame(salaire_max)

In [124]:
cols =["adresse","type_de_contrat","niveau_etude", "localisation","type_de_cursus"]
df_predicted[cols] = full_df[pd.isna(full_df["salaire_moyen"])][cols]

In [125]:
cols.append("salaire_moyen")
cols.append("salaire_min")
cols.append("salaire_max")
#df_predicted = df_predicted[cols]
df_predicted

,_id,Lyon,Nantes,Paris,Toulouse,bac + 1,bac + 2,bac + 3,bac + 4,bac + 5,...,jenkins,centre,salaire_moyen,salaire_min,salaire_max,adresse,type_de_contrat,niveau_etude,localisation,type_de_cursus
0,5da04bf5559bce5541bcce8f,0,0,0,1,0,0,0,0,0,...,1,1,37000.0,2700,47000,Toulouse (31),NaN,ingénieur,Toulouse,NaN
1,5da04bf5559bce5541bcce90,0,0,0,1,0,0,0,0,0,...,0,1,37000.0,2700,47000,Toulouse (31),CDI,NaN,Toulouse,NaN
2,5da04bf5559bce5541bcce91,0,0,0,1,0,0,0,0,0,...,0,0,66000.0,4700,85000,Labège (31),CDI,ingénieur,Toulouse,NaN
3,5da04bf5559bce5541bcce92,0,0,0,1,0,0,0,0,0,...,0,1,66000.0,4700,85000,Toulouse (31),CDI,ingénieur,Toulouse,autodidacte
4,5da04bf5559bce5541bcce93,0,0,0,1,0,0,0,0,0,...,1,1,37000.0,2700,47000,NaN,NaN,NaN,NaN,NaN
5,5da04bf5559bce5541bcce94,0,0,0,1,0,0,0,0,0,...,1,1,37000.0,2700,47000,Toulouse (31),NaN,ingénieur,Toulouse,NaN
6,5da04bf5559bce5541bcce95,0,0,0,1,0,0,0,0,0,...,1,1,37000.0,2700,47000,Toulouse (31),NaN,ingénieur,Toulouse,NaN
7,5da04bf5559bce5541bcce96,0,0,0,1,0,0,0,0,0,...,1,1,37000.0,2700,47000,Toulouse (31),NaN,ingénieur,Toulouse,NaN
8,5da04bf5559bce5541bcce97,0,0,1,0,0,0,0,0,0,...,0,0,13500.0,0,27000,NaN,NaN,NaN,NaN,NaN
9,5da04bf5559bce5541bcce98,0,0,1,0,0,0,0,0,0,...,0,1,66000.0,4700,85000,Paris (75),NaN,NaN,Paris,NaN
10,5da04bf5559bce5541bcce99,0,0,1,0,0,0,0,0,0,...,0,0,66000.0,4700,85000,Colombes (92),"Temps plein, CDI",NaN,Paris,NaN
11,5da04bf5559bce5541bcce9a,0,0,1,0,0,0,0,0,0,...,0,1,37000.0,2700,47000,Paris (75),NaN,NaN,Paris,NaN
12,5da04bf5559bce5541bcce9b,0,0,1,0,0,1,0,0,0,...,0,1,37000.0,2700,47000,Paris (75),NaN,bac + 2,Paris,NaN
13,5da04bf5559bce5541bcce9c,0,0,1,0,0,0,0,0,1,...,1,1,37000.0,2700,47000,Paris (75),NaN,bac + 5,Paris,NaN
14,5da04bf5559bce5541bcce9d,0,0,1,0,0,0,0,0,0,...,0,0,66000.0,4700,85000,Nozay (91),NaN,ingénieur,Paris,NaN
15,5da04bf5559bce5541bcce9e,0,0,1,0,0,0,0,0,0,...,0,1,66000.0,4700,85000,Paris (75),CDI,NaN,Paris,NaN
16,5da04bf5559bce5541bcce9f,0,0,1,0,0,0,0,0,0,...,0,0,66000.0,4700,85000,Levallois-Perret (92),"Temps plein, CDI",NaN,Paris,NaN
17,5da04bf5559bce5541bccea0,0,0,1,0,0,0,0,0,0,...,0,1,66000.0,4700,85000,Paris (75),CDI,NaN,Paris,NaN
18,5da04bf5559bce5541bccea1,0,0,1,0,0,0,0,0,0,...,0,1,13500.0,0,27000,Paris (75),Stage,ingénieur,Paris,NaN
19,5da04bf5559bce5541bccea2,0,0,1,0,0,0,0,0,0,...,0,1,37000.0,2700,47000,NaN,NaN,NaN,NaN,NaN
20,5da04bf5559bce5541bccea3,0,0,1,0,0,0,0,0,0,...,0,1,37000.0,2700,47000,NaN,NaN,NaN,NaN,NaN
21,5da04bf5559bce5541bccea4,0,0,1,0,0,0,0,0,0,...,0,1,66000.0,4700,85000,Paris (75),NaN,ingénieur,Paris,NaN
22,5da04bf5559bce5541bccea5,0,0,1,0,0,0,0,1,0,...,0,0,37000.0,2700,47000,Clichy (92),NaN,bac + 4,Paris,NaN
23,5da04bf5559bce5541bccea6,0,0,1,0,0,0,0,0,0,...,0,1,37000.0,2700,47000,NaN,NaN,NaN,NaN,NaN
24,5da04bf5559bce5541bccea7,0,1,0,0,0,0,0,0,0,...,0,1,37000.0,2700,47000,NaN,NaN,NaN,NaN,NaN
25,5da04bf5559bce5541bccea8,0,1,0,0,0,0,0,1,0,...,0,0,37000.0,2700,47000,NaN,NaN,NaN,NaN,NaN
26,5da04bf5559bce5541bccea9,0,1,0,0,0,0,0,0,0,...,0,1,37000.0,2700,47000,NaN,NaN,NaN,NaN,NaN
27,5da04bf5559bce5541bcceaa,0,1,0,0,0,0,0,0,0,...,0,1,37000.0,2700,47000,Nantes (44),CDI,NaN,Nantes,NaN
28,5da04bf5559bce5541bcceab,0,1,0,0,0,1,0,0,0,...,0,1,37000.0,2700,47000,Nantes (44),NaN,bac + 2,Nantes,NaN
29,5da04bf5559bce5541bcceac,0,1,0,0,0,0,0,0,0,...,0,1,37000.0,2700,47000,Nantes (44),CDI,NaN,Nantes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9391,5dad76d18798f0c2b8c42d45,1,0,0,0,0,0,0,0,0,...,0,1,37000.0,2700,47000,NaN,NaN,NaN,NaN,NaN
9392,5dad76fc8798f0c2b8c42d70,0,1,0,0,0,0,0,0,0,...,0,0,37000.0,2700,47000,Saint-Herblain (44),NaN,NaN,Nantes,NaN
9393,5dad77008798f0c2b8c42d73,0,1,0,0,0,1,0,0,0,...,0,1,37000.0,2700,47000,NaN,NaN,NaN,NaN,NaN
9394,5dad77018798f0c2b8c42d74,0,1,0,0,0,1,0,0,0,...,0,1,37000.0,2700,47000,NaN,NaN,NaN,NaN,NaN
9395,5dad777e8798f0c2b8c42df0,0,0,1,0,0,0,0,0,0,...,0,1,37000.0,2700,47000,Paris 19e (75),CDI,NaN,Paris,NaN
9396,5dad77c08798f0c2b8c42e30,0,0,1,0,0,0,0,0,0,...,0,1,37000.0,2700,47000,75011 Paris 11e,"Temps plein, CDI",NaN,Paris,NaN
9397,5dad77cb8798f0c2b8c42e3c,0,0,1,0,0,0,0,0,0,...,0,0,37000.0,2700,47000,Boulogne-Billancourt (92),CDI,NaN,Paris,NaN
9398,5dad78018798f0c2b8c42e73,0,0,1,0,0,0,0,0,0,...,0,0,66000.0,4700,85000,NaN,NaN,NaN,NaN,NaN
9399,5dad78188798f0c2b8c42e8b,0,0,1,0,0,0,0,0,0,...,0,0,37000.0,2700,47000,78420 Carrières-sur-Seine,"Temps plein, CDI",NaN,Paris,NaN
9400,5dad79208798f0c2b8c42f79,0,0,1,0,0,0,0,0,0,...,0,0,13500.0,0,27000,Le Plessis-Robinson (92),"Stage, Apprentissage, Contrat pro",ingénieur,Paris,NaN
9401,5dad79218798f0c2b8c42f7a,0,0,1,0,0,0,0,0,0,...,0,0,13500.0,0,27000,92000 Nanterre,Stage,NaN,Paris,NaN
9402,5dad792b8798f0c2b8c42f84,0,0,1,0,0,0,0,0,1,...,0,1,13500.0,0,27000,Paris (75),Stage,bac + 5,Paris,NaN
9403,5dad79308798f0c2b8c42f88,0,0,1,0,0,0,0,0,0,...,0,0,66000.0,4700,85000,Clichy (92),CDI,ingénieur,Paris,NaN
9404,5dad79328798f0c2b8c42f8a,0,0,1,0,0,0,1,0,0,...,0,1,37000.0,2700,47000,Paris (75),NaN,bac + 3,Paris,NaN
9405,5dad79478798f0c2b8c42f99,1,0,0,0,0,1,0,0,0,...,0,0,37000.0,2700,47000,Oullins (69),CDI,bac + 2,Lyon,NaN
9406,5dad79488798f0c2b8c42f9a,1,0,0,0,0,0,0,0,0,...,1,1,37000.0,2700,47000,Lyon 9e (69),CDI,NaN,Lyon,NaN
9407,5dad796e8798f0c2b8c42fbd,0,0,0,1,0,0,0,0,0,...,0,1,13500.0,0,27000,31000 Toulouse,CDD,ingénieur,Toulouse,NaN
9408,5dad796f8798f0c2b8c42fbe,0,0,0,1,0,0,0,0,0,...,0,1,37000.0,2700,47000,Toulouse (31),CDI,ingénieur,Toulouse,NaN
9409,5dad79808798f0c2b8c42fcf,0,0,0,1,0,0,0,0,0,...,0,1,66000.0,4700,85000,Toulouse (31),CDI,NaN,Toulouse,NaN
9410,5dad79938798f0c2b8c42fda,0,1,0,0,0,0,0,0,1,...,0,1,37000.0,2700,47000,Nantes (44),NaN,bac + 5,Nantes,NaN
9411,5dad79948798f0c2b8c42fdb,0,1,0,0,0,0,0,1,0,...,0,1,37000.0,2700,47000,Nantes (44),CDI,bac + 4,Nantes,NaN
9412,5dad79c38798f0c2b8c43006,0,0,1,0,0,0,0,0,0,...,0,1,142946.0,85892,200000,Paris (75),"Temps plein, Freelance / Indépendant",NaN,Paris,NaN
9413,5dad7ab28798f0c2b8c430f5,1,0,0,0,0,0,0,0,0,...,0,1,13500.0,0,27000,NaN,NaN,NaN,NaN,NaN
9414,5dad7b428798f0c2b8c4317a,0,0,1,0,0,0,0,0,1,...,0,1,66000.0,4700,85000,75015 Paris 15e,CDI,bac + 5,Paris,NaN
9415,5dad7c628798f0c2b8c4329d,0,0,1,0,0,0,0,0,1,...,0,1,66000.0,4700,85000,Paris (75),CDI,bac + 5,Paris,NaN
9416,5dad7c638798f0c2b8c4329e,0,0,1,0,0,0,0,0,1,...,0,1,13500.0,0,27000,Paris (75),Stage,bac + 5,Paris,NaN
9417,5dad7cc28798f0c2b8c432ff,1,0,0,0,0,0,0,0,0,...,0,1,37000.0,2700,47000,NaN,NaN,NaN,NaN,NaN
9418,5dad7d028798f0c2b8c4333a,1,0,0,0,0,1,0,0,0,...,0,1,37000.0,2700,47000,Lyon (69),"Temps plein, CDI",bac + 2,Lyon,NaN
9419,5dad7d038798f0c2b8c4333b,1,0,0,0,0,0,0,0,0,...,0,1,37000.0,2700,47000,NaN,NaN,NaN,NaN,NaN
9420,5dad7d048798f0c2b8c4333c,1,0,0,0,0,0,0,0,1,...,0,1,13500.0,0,27000,Lyon (69),Stage,bac + 5,Lyon,NaN

In [126]:
df_predicted.to_csv("..\..\data\indeed.predicted.csv")

In [135]:
import statistics
import json
keyswords = ['abcl', 'ada', 'afnix', 'agora', 'alf', 'algol', 'apl', 'applescript', 'asp.net',
                 'autoit', 'awk', 'back end', 'bash', 'basic', 'beanshell', 'beta' ,'bliss', 'c',
                 'c#', 'c\\+\\+', 'cecil', 'charity', 'chuck', 'cilk' ,'clean' ,'cleo', 'clist',
                 'cobol', 'cobra' ,'coldfusion', 'component pascal' ,'concurrent pascal', 'css',
                 'curl', 'curry' ,'d' ,'dasl' ,'dibol', 'e', 'eiffel' ,'erlang' ,'excel', 'f#',
                 'f-script', 'forth', 'fortran' ,'fril', 'frink', 'front end',
                 'game maker language', 'haskell' ,'html' ,'hypertalk' ,'ici' ,'io', 'j' ,'jass',
                 'java', 'javascript', 'joule' ,'jovial' ,'joy' ,'kite' ,'kotlin' ,'lava', 'leda',
                 'limbo', 'linux', 'lisaac', 'lisp', 'lua', 'm' ,'mariadb', 'matlab',
                 'maya embedded language', 'ml' ,'modula-2', 'mondrian', 'mongodb', 'moo',
                 'moto', 'mysql' ,'nemerle', 'nosql' ,'oberon' ,'object-z' ,'objective-c',
                 'obliq' ,'occam' ,'opal' ,'ops5' ,'oxygene' ,'oz' ,'pascal' ,'pcastl' ,'perl',
                 'php', 'pict', 'pl/c' ,'pl/i' ,'pliant' ,'poplog' ,'postscript', 'powershell',
                 'prograph', 'prolog', 'python', 'q', 'r', 'rapira', 'rebol' ,'revolution' ,'rexx',
                 'roop', 'rpg', 'ruby' ,'s-lang', 'salsa' ,'sas' ,'scala' ,'self' ,'sgml' ,'shell',
                 'slate', 'small', 'smalltalk' ,'soap' ,'spin' ,'sql' ,'sr' ,'swift', 'tcl',
                 'turing', 'vb.net', 'vba', 'vbscript', 'visual basic' ,'visual foxpro',
                'windows powershell', 'xhtml' ,'xl' ,'xml', 'xotcl']
df = df_predicted
locations = np.unique(df[pd.notnull(df["localisation"])]["localisation"]).tolist()
result = {}

for lg in keyswords:
    if lg not in df.columns :
        continue
    for index,item in enumerate(df[lg]):
        if item == 1:
            if lg not in result:
                result[lg] = df['salaire_moyen'][index]
            else:
                result[lg] = (result[lg] + df['salaire_moyen'][index])/2
            for loc in locations:
                if df["localisation"][index] == loc:
                    result[lg + "_" + loc] = result[lg]

print(json.dumps(result))

{"ada": 37453.125, "ada_Toulouse": 37000.0, "ada_Paris": 37906.25, "ada_Lyon": 37453.125, "asp.net": 53624.07872965968, "asp.net_Nantes": 44247.25395442842, "asp.net_Toulouse": 46970.51934910996, "asp.net_Lyon": 41248.15745931937, "asp.net_Bordeaux": 41985.25967455498, "asp.net_Paris": 58764.154792879744, "autoit": 37000.0, "autoit_Bordeaux": 37000.0, "awk": 47875.0, "awk_Paris": 58750.0, "awk_Bordeaux": 47875.0, "back end": 44360.413780073555, "back end_Nantes": 37441.65512029423, "back end_Bordeaux": 36265.92769883059, "back end_Toulouse": 44360.413780073555, "back end_Paris": 51720.82756014711, "back end_Lyon": 34275.831828809474, "bash": 46543.017867192655, "bash_Toulouse": 63753.14350032963, "bash_Paris": 46172.071468770606, "bash_Bordeaux": 56086.0357343853, "bash_Lyon": 40109.47216876915, "bash_Nantes": 46600.592010548076, "basic": 22090.275120230344, "basic_Paris": 32055.21538948419, "basic_Lyon": 22090.275120230344, "basic_Nantes": 34062.5, "basic_Toulouse": 22777.607694742095, "basic_Bordeaux": 44441.72311587352, "beanshell": 37000.0, "beanshell_Bordeaux": 37000.0, "beta": 47140.625, "beta_Lyon": 37000.0, "beta_Paris": 47140.625, "c": 41285.65590455952, "c_Nantes": 41285.65590455952, "c_Toulouse": 45571.31180911904, "c_Lyon": 36785.24723647617, "c_Paris": 36140.98894590469, "c_Bordeaux": 43858.91915569751, "c#": 42268.80785575523, "c#_Nantes": 44275.2695496502, "c#_Toulouse": 25123.24429335664, "c#_Lyon": 63300.9256920837, "c#_Bordeaux": 31061.62214667832, "c#_Paris": 89601.8513841674, "c\\+\\+": 92157.57043186555, "c\\+\\+_Paris": 92157.57043186555, "c\\+\\+_Nantes": 41369.140863731096, "c\\+\\+_Toulouse": 45738.281727462185, "c\\+\\+_Lyon": 37453.12690984874, "c\\+\\+_Bordeaux": 38193.88513752025, "cilk": 37000.0, "cilk_Bordeaux": 37000.0, "clean": 81451.7985627345, "clean_Nantes": 56157.82592105924, "clean_Paris": 64722.388501876034, "clean_Lyon": 46534.87158232903, "clean_Bordeaux": 51325.48956410866, "clean_Toulouse": 37450.129127626526, "cobol": 47229.51298342744, "cobol_Nantes": 36833.180118780154, "cobol_Paris": 57459.025966854875, "cobol_Bordeaux": 55161.76380096485, "cobol_Toulouse": 36332.72047512061, "cobol_Lyon": 47229.51298342744, "coldfusion": 37000.0, "css": 51515.9381837397, "css_Paris": 37031.8763674794, "css_Nantes": 37510.02187967042, "css_Toulouse": 41587.812161703914, "css_Lyon": 45160.35007472677, "css_Bordeaux": 39040.08751868169, "curl": 40555.17578125, "curl_Toulouse": 36265.625, "curl_Paris": 40555.17578125, "curl_Lyon": 31125.0, "d": 64920.466692222755, "d_Lyon": 37231.57134440209, "d_Paris": 64920.466692222755, "d_Bordeaux": 61819.73660451257, "d_Toulouse": 31454.934151128142, "d_Nantes": 53641.13208346693, "e": 23948.21367072831, "e_Toulouse": 50941.597651577446, "e_Paris": 31792.85468291324, "e_Nantes": 34171.41873165295, "e_Bordeaux": 40635.44096860986, "e_Lyon": 23948.21367072831, "excel": 56780.73490433092, "excel_Toulouse": 63491.75846929476, "excel_Paris": 56780.73490433092, "excel_Nantes": 35679.00088168043, "excel_Lyon": 47561.469808661845, "excel_Bordeaux": 22456.1430080688, "f#": 63281.25, "f#_Paris": 63281.25, "f#_Bordeaux": 55125.0, "fortran": 19696.2890625, "fortran_Lyon": 14785.15625, "fortran_Nantes": 16070.3125, "fortran_Toulouse": 19696.2890625, "front end": 39733.02950838522, "front end_Nantes": 37913.8885366538, "front end_Bordeaux": 37456.9442683269, "front end_Toulouse": 38827.7770733076, "front end_Paris": 42466.059016770436, "front end_Lyon": 37083.722406716464, "haskell": 37000.0, "haskell_Nantes": 37000.0, "haskell_Paris": 37000.0, "html": 36998.249189192284, "html_Paris": 36996.49837838456, "html_Nantes": 36943.974054152925, "html_Toulouse": 41134.45186376189, "html_Lyon": 36998.249189192284, "html_Bordeaux": 36551.79243322338, "ici": 28984.055830290832, "ici_Toulouse": 34836.585108905725, "ici_Bordeaux": 40489.78656930661, "ici_Lyon": 46059.57575973335, "ici_Paris": 28984.055830290832, "ici_Nantes": 41757.446969966666, "io": 46184.63134765625, "io_Bordeaux": 52632.8125, "io_Paris": 46184.63134765625, "io_Nantes": 38954.1015625, "j": 56010.67851577382, "j_Bordeaux": 56798.85001904828, "j_Toulouse": 47195.3125, "j_Paris": 75021.35703154764, "j_Nantes": 47597.70003809656, "j_Lyon": 56010.67851577382, "java": 24429.80328672818, "java_Toulouse": 57753.705175301744, "java_Paris": 49507.41035060349, "java_Nantes": 47376.85258765087, "java_Bordeaux": 44927.588810113775, "java_Lyon": 24429.80328672818, "javascript": 43939.385766944, "javascript_Paris": 35757.54306777599, "javascript_Nantes": 34515.08613555198, "javascript_Bordeaux": 35896.405610459464, "javascript_Toulouse": 37684.97953470281, "javascript_Lyon": 44241.37816883171, "kite": 37000.0, "kite_Paris": 37000.0, "kotlin": 64833.81763925862, "kotlin_Nantes": 39366.451619486776, "kotlin_Bordeaux": 42309.33874196476, "kotlin_Lyon": 61335.270557034455, "kotlin_Paris": 64833.81763925862, "kotlin_Toulouse": 69472.32891255121, "linux": 48677.578244926786, "linux_Toulouse": 37441.9648805003, "linux_Paris": 48677.578244926786, "linux_Nantes": 31355.156489853576, "linux_Bordeaux": 40680.24561006254, "linux_Lyon": 37883.9297610006, "lisp": 39750.0, "lisp_Paris": 66000.0, "lisp_Lyon": 39750.0, "lua": 25135.25390625, "lua_Nantes": 22312.5, "lua_Toulouse": 33328.125, "lua_Paris": 36770.5078125, "lua_Bordeaux": 25135.25390625, "m": 68942.99672994515, "m_Nantes": 36990.33449567135, "m_Paris": 68942.99672994515, "m_Lyon": 37303.94767912257, "m_Toulouse": 36922.6759653708, "m_Bordeaux": 47246.03327046521, "mariadb": 35532.162904136436, "mariadb_Toulouse": 37058.4258647316, "mariadb_Paris": 37029.2129323658, "mariadb_Nantes": 35532.162904136436, "mariadb_Lyon": 37233.70345892641, "mariadb_Bordeaux": 37014.6064661829, "matlab": 55125.75529397158, "matlab_Toulouse": 37012.08470354535, "matlab_Bordeaux": 25250.0, "matlab_Nantes": 51509.131060913205, "matlab_Paris": 55125.75529397158, "matlab_Lyon": 49374.73643043781, "ml": 78501.49921983281, "ml_Paris": 78501.49921983281, "ml_Lyon": 35093.75, "ml_Bordeaux": 29743.9500692999, "ml_Nantes": 35187.8662109375, "ml_Toulouse": 36546.966552734375, "mongodb": 57614.71396887513, "mongodb_Paris": 61458.85587550051, "mongodb_Nantes": 49229.42793775025, "mongodb_Lyon": 37447.3321001859, "mongodb_Toulouse": 47835.42350200204, "mongodb_Bordeaux": 65683.38801601635, "moto": 46968.75, "moto_Paris": 56937.5, "moto_Toulouse": 46968.75, "mysql": 37243.62626355991, "mysql_Toulouse": 36948.93859551591, "mysql_Paris": 37243.62626355991, "mysql_Nantes": 37487.25252711982, "mysql_Lyon": 38949.01010847928, "mysql_Bordeaux": 44796.0404339171, "nosql": 40214.8249794563, "nosql_Paris": 49859.29991782519, "nosql_Nantes": 39748.7986852031, "nosql_Bordeaux": 38365.26694057832, "nosql_Lyon": 65438.926823986636, "nosql_Toulouse": 42497.5973704062, "objective-c": 45240.902412673546, "objective-c_Nantes": 48021.523334666665, "objective-c_Lyon": 53481.80482534709, "objective-c_Bordeaux": 38943.50882221381, "objective-c_Toulouse": 51240.25848673519, "objective-c_Paris": 81854.43860277673, "pascal": 58750.0, "pascal_Toulouse": 37000.0, "pascal_Lyon": 37000.0, "perl": 43742.08976500679, "perl_Toulouse": 32936.71812005434, "perl_Nantes": 40493.74496043473, "perl_Paris": 50484.179530013585, "perl_Lyon": 34968.35906002717, "perl_Bordeaux": 43742.08976500679, "php": 37492.06006598072, "php_Paris": 37492.06006598072, "php_Nantes": 38968.24026392286, "php_Toulouse": 36956.06051402136, "php_Lyon": 39491.844222765794, "php_Bordeaux": 46967.37689106317, "powershell": 41877.12301396823, "powershell_Bordeaux": 86033.96822349173, "powershell_Toulouse": 65910.23252306634, "powershell_Paris": 41877.12301396823, "powershell_Nantes": 55771.68684420336, "powershell_Lyon": 56508.492055872935, "python": 35135.13924824887, "python_Toulouse": 44662.22797198205, "python_Paris": 35135.13924824887, "python_Nantes": 48069.311525339355, "python_Bordeaux": 44742.88661924738, "python_Lyon": 40943.09295397904, "q": 51500.0, "q_Toulouse": 37000.0, "q_Paris": 51500.0, "r": 48826.3731645097, "r_Nantes": 43082.69785496066, "r_Toulouse": 59221.970632155266, "r_Bordeaux": 48826.3731645097, "r_Paris": 31652.746329019406, "r_Lyon": 67887.88252862106, "rexx": 66000.0, "rexx_Nantes": 66000.0, "rpg": 37007.080078125, "rpg_Lyon": 37000.0, "rpg_Paris": 37014.16015625, "rpg_Toulouse": 37007.080078125, "rpg_Nantes": 37113.28125, "ruby": 85110.08379172522, "ruby_Toulouse": 35312.87021676453, "ruby_Nantes": 44023.693872930126, "ruby_Bordeaux": 42355.87315310263, "ruby_Lyon": 49481.80272663288, "ruby_Paris": 85110.08379172522, "salsa": 64187.5, "salsa_Paris": 64187.5, "sas": 18878.01561923277, "sas_Toulouse": 32487.99852358934, "sas_Paris": 24256.03123846554, "sas_Lyon": 18878.01561923277, "sas_Nantes": 33637.93945312438, "sas_Bordeaux": 29656.249999920998, "scala": 72806.61816896472, "scala_Nantes": 54135.78140687104, "scala_Bordeaux": 60067.89070343552, "scala_Paris": 72806.61816896472, "scala_Lyon": 51969.285087622615, "scala_Toulouse": 38862.28070098093, "self": 95437.79724121094, "self_Paris": 95437.79724121094, "self_Bordeaux": 58855.0234375, "sgml": 37000.0, "sgml_Toulouse": 37000.0, "shell": 78670.25403471307, "shell_Paris": 120340.50806942614, "shell_Nantes": 37958.68939614017, "shell_Toulouse": 41086.703289147714, "shell_Lyon": 78670.25403471307, "shell_Bordeaux": 52524.03227770454, "small": 62433.45230817795, "small_Paris": 62433.45230817795, "small_Bordeaux": 38375.0, "small_Toulouse": 37467.618465423584, "small_Lyon": 32843.75, "soap": 35535.265742207484, "soap_Nantes": 35535.265742207484, "soap_Paris": 57570.53148441497, "soap_Toulouse": 32282.125937659883, "soap_Lyon": 28351.36261948348, "soap_Bordeaux": 47175.68130974174, "sql": 42504.87522097143, "sql_Paris": 59019.50088388573, "sql_Nantes": 84105.07951777485, "sql_Bordeaux": 51019.85267083957, "sql_Toulouse": 39156.00707108587, "sql_Lyon": 36992.226274747736, "swift": 70447.7919548976, "swift_Bordeaux": 37675.11233932628, "swift_Nantes": 38350.224678652565, "swift_Lyon": 70447.7919548976, "swift_Paris": 103895.58390979521, "swift_Toulouse": 64828.75886752864, "tcl": 36999.82762336731, "tcl_Lyon": 36999.82762336731, "tcl_Paris": 51500.0, "tcl_Toulouse": 36997.24197387695, "turing": 13500.0, "vb.net": 62375.1335088474, "vb.net_Nantes": 38994.173170705864, "vb.net_Toulouse": 37001.06807077919, "vb.net_Bordeaux": 37997.08658535293, "vb.net_Paris": 58750.2670176948, "vb.net_Lyon": 25499.27164633823, "vba": 42990.30249883909, "vba_Paris": 84922.41999071272, "vba_Toulouse": 42990.30249883909, "vba_Lyon": 64743.67996285086, "vba_Nantes": 24990.157470703125, "vba_Bordeaux": 31274.25567421895, "vbscript": 37000.0, "vbscript_Paris": 37000.0, "visual basic": 28388.24462890625, "visual basic_Paris": 26052.978515625, "visual basic_Lyon": 28388.24462890625, "visual basic_Nantes": 31125.0, "visual basic_Toulouse": 19776.4892578125, "xhtml": 37172.7314251475, "xhtml_Toulouse": 37172.7314251475, "xhtml_Lyon": 35875.0, "xhtml_Paris": 37345.46285029501, "xl": 68282.64373779297, "xl_Paris": 68282.64373779297, "xml": 37161.449112508635, "xml_Paris": 63083.185800138235, "xml_Nantes": 37161.449112508635, "xml_Toulouse": 35837.03736622851, "xml_Lyon": 37645.796450034555, "xml_Bordeaux": 89682.25934155713}