In [1]:
import pandas as pd
import numpy as np

In [49]:
data = pd.read_csv("indeed.csv")
#print(len(data) - 2330)
print(len(data))

3632

In [51]:
result = pd.DataFrame(data.salaire.value_counts())
result
#data.isnull().sum().loc["salaire"]
#print(int(result.loc["-"]) + int(data.isnull().sum().loc["salaire"]))
#df['Percentage'] = 100*df['salaire']/train.shape[0]
#df

                            salaire
-                               459
1 850 € par mois                144
50 000 € par an                  91
35 000 € - 45 000 € par an       73
36 000 € - 50 000 € par an       68
35 000 € par an                  50
35 000 € - 50 000 € par an       46
45 000 € - 50 000 € par an       40
55 000 € par an                  37
40 000 € - 50 000 € par an       32
30 000 € - 37 000 € par an       32
2 200 € par mois                 31
45 000 € par an                  30
35 000 € - 40 000 € par an       30
30 000 € - 50 000 € par an       29
38 000 € - 45 000 € par an       29
30 000 € - 35 000 € par an       28
65 000 € par an                  26
35 000 € - 55 000 € par an       26
40 000 € - 45 000 € par an       24
45 000 € - 60 000 € par an       23
42 000 € - 50 000 € par an       23
45 000 € - 55 000 € par an       22
3 500 € par mois                 18
52 000 € - 65 000 € par an       18
32 000 € - 55 000 € par an       17
2 500 € - 3 000 € par mois       16
60 000 € par an                  14
35 000 € - 43 000 € par an       13
35 000 € - 80 000 € par an       13
...                             ...
568 € par mois                    1
25 000 € - 32 000 € par an        1
45 000 € - 65 000 € par an        1
45 000 € - 75 000 € par an        1
48 000 € par an                   1
50 € par heure                    1
48 000 € - 60 000 € par an        1
32 000 € - 37 000 € par an        1
35 000 € - 60 000 € par an        1
25 000 € - 35 000 € par an        1
36 000 € - 46 000 € par an        1
35 000 € - 38 000 € par an        1
800 € - 1 000 € par mois          1
40 000 € - 65 000 € par an        1
48 000 € - 55 000 € par an        1
578 € par mois                    1
40 € par heure                    1
20 500 € - 22 000 € par an        1
3,75 € par heure                  1
2 300 € - 2 500 € par mois        1
41 000 € - 63 000 € par an        1
2 184 € par mois                  1
1 000 € par mois                  1
989 € - 1 521 € par mois          1
1 800 € par mois                  1
28 000 € - 38 000 € par an        1
40 700 € - 46 900 € par an        1
3 000 € - 4 500 € par mois        1
600 € par mois                    1
32 000 € - 42 000 € par an        1

[125 rows x 1 columns]

In [50]:
(1302/3632) * 100

35.848017621145374